<p class="text-light">
  all works!
</p>
<button type="button" class="btn btn-dark" routerLink="/user/single">Dark</button>
<button type="button" class="btn btn-info" (click)="getAct()">getEvt</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Program#</th>
      <th scope="col">Program name</th>
      <th scope="col">Type</th>
      <th scope="col">Venue</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of event">
      <th scope="row"></th>
      <td>{{item.EN_PGM_NAME}}</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<ul>
            <li *ngFor="let item of event">
{{item}}
            </li>
</ul>
<ul *ngIf="customersObservable | async as customers else empty">
            <li *ngFor="let customer of customers">

            </li>
</ul>
<ng-template #empty> No Customers Yet </ng-template>
<div *ngIf="event">{{event}}</div>
