

<div class="container">
<div class="card-bg">
  <div class="card-l">
    <div class="card-h">
      <h2>Community Recreation and Sports Programmes System</h2>
      <p class="lead">Login to use the features</p>
      <p>Check now!</p>
    </div>
  </div>
    <form class=" text-white">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1">
      </div>
      <div class="pb-5">
      </div>
      <button type="submit" class="btn btn-info btn-block" data-dismiss="modal" routerLink="/user">Login</button>
      <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" routerLink="/admin">Admin Login</button>
    </form>
</div>
</div>
