<div class="jumbotron alpha-8">
    <button class="btn btn-outline-danger float-right" data-toggle="tooltip" data-placement="left" title="Add to favourite"><i class="fas fa-heart" color="pink"></i></button>
    <h1>Title {{Event.name}}</h1>
    <hr>
    <p class="lead">Date: {{Event.date}}</p>
    <p>Type: {{Event}}</p>
    <p>Location: {{Event}}</p>
    <hr>
    <p class="lead">..</p>
</div>

<div class="container pl-5">
<ul id="comments" class="list-unstyled">
  <li class="media my-2 alpha-8 bg-light rounded p-2">
    <svg height="100" width="100">
       <circle cx="50" cy="50" r="40" fill="darkblue"></circle>
    </svg>
    <div class="media-body">
      <h5>My first comment</h5>
      <h6>chuckjee</h6>
      <p>This lab is so fun! Let's explore more with Bootstrap and jQuery.</p>
    </div>
  </li>
</ul>

<div id="create" class="cm border-left border-secondary text-light p-3 pt-3 w-50 mt-3">
  <form>
  <div class="form-group w-50">
    <p>User</p>
  </div>
  <div class="form-group w-50">
    <label for="insub">Subject</label>
    <input type="" class="form-control insub">
  </div>
  <div class="form-group">
    <label for="incm">Your Comment</label>
    <textarea class="form-control incm" rows="3"></textarea>
  </div>
  <button type="submit" class="add btn db-color text-white float-right mt-2">Add Comment</button>
</form>
</div>
</div>
