<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-nav></app-nav>
</div>
<div id="myCarousel" class="carousel slide carousel-fade">
<div class="carousel-inner">
      <div class="carousel-item active one"></div>
      <div class="carousel-item two"></div>
      <div class="carousel-item three"></div>
</div>
</div>
<div class="container-fluid mainbody">
  <div class="container rounded">
<section class="mt-5">
  <router-outlet></router-outlet>
</section>

<section>


<div class="my-5 bg-primary">
  <p>Inside 111</p>
</div>
</section>






</div>
</div>
