/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
body{
  background-color: black;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.db-color{
  background-color:  #343b47;
}

.alpha-bg{
  background: #40404055;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}
