
<h5>About this project</h5>
<div class="d-flex justift-content-between">
  <div class="card text-white bg-secondary mb-3 mx-3 d-inline-flex" style="max-width: 18rem;">
  <div class="card-header">Member</div>
  <div class="card-body">
    <ol class="card-text"><li>Jason Tsang 1155077582</li><li>Mak Wai Yee 1155086280</li><li>Chui Chun Hei 1155086099</li></ol>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 mx-3 d-inline-flex" style="max-width: 18rem;">
  <div class="card-header">"how-to"</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">There is the user interface of the web only.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 mx-3 d-inline-flex" style="max-width: 18rem;">
  <div class="card-header">Data</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">We have tried to work on it but all failed.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3 mx-3 d-inline-flex" style="max-width: 18rem;">
  <div class="card-header">Technologies</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Bootstrap/Angular(/Node.js/Express/MongoDB)</p>
  </div>
</div>
</div>
